---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="centered">
    <div class="container animate">

      <div class="logo">
        <%= image_tag "logo-gustosa.png" %>
      </div>

      <h1>Próximamente en Gustosa encontraras ricos alimentos naturales.</h1>
      <ul class="products">
        <li class="product-nuts">
          <%= image_tag "productos-frutos-secos.png", width: "50" %>
          <p>Frutos secos</p>
        </li>
        <li class="product-dried">
          <%= image_tag "productos-frutos-deshidratados.png", width: "50" %>
          <p>Deshidratados</p>
        </li>
        <li class="product-seeds">
          <%= image_tag "productos-semillas.png", width: "50" %>
          <p>Semillas</p>
        </li>
        <li class="product-cereals">
          <%= image_tag "productos-cereales.png", width: "50" %>
          <p>Cereales</p>
        </li>
        <li class="product-elaborated">
          <%= image_tag "productos-preparados.png", width: "50" %>
          <p>Preparados</p>
        </li>
      </ul>

      <div class="contact">
        <h3>Mientras tanto puedes visitanos en facebook o ponerte en contacto</h3>
        <a href="https://www.facebook.com/gustosa.cl/" target="_blank" class="contact-facebook"><span><%= image_tag "icono-facebook.png", width: "30" %></span><span>/gustosa.cl</span></a>
        <a href="mailto:gustosasnack@gmail.com" target="_blank" class="contact-gustosa"><span><%= image_tag "icono-email.png", width: "30" %></span><span>gustosasnack@gmail.com</span></a>
      </div>

    </div>
  </div>
</div>
